* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; padding: 0}

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 32%;
}
.gutter-sizer { width: 1%; }
.grid-item {
  float: left;
  margin-bottom: 1%;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

@media screen and (max-width: 800px) {
  .grid-sizer, .grid-item { width: 49%; }
}
@media screen and (max-width: 600px) {
  .grid-sizer, .grid-item { width: 99%; }
}
@media screen and (min-width: 1200px) {
  /* 5 columns for larger screens */
  .grid-sizer, .grid-item { width: 24%; }
}